{% extends "layout.twig" %}
{% block class %}bk-pt-home{% endblock %}
{% block content %}

    {{widget('extendednavigation', 'navigation', {"align":"left"})|raw}}

    <div class="page-wrapper">

        <div class="hero">

            <!-- Theme Feature Widget -->
            {{widget('feature', 'featurehome', {
                'header': 'profile',
                'defaultBgImg': asset("images/feature.jpg"),
                'positionTopPercentage': '0',
                'showBtn': true,
                'buttonText': 'Lorem Ipsum'
            })|raw}}

            {% include "includes/header.twig" %}

            <!-- Feature Arrow -->
            <div class="feature-arrow">
                <a href="#main-scroll" class="feature-arrow-link  arrow-bounce"></a>
            </div>

        </div>

        <!-- Container -->
        <div class="container">

            <!-- Page Content -->
            <section id="main-scroll" class="template-content">

                <!-- Main Widget Zone -->
                {{zone('main')|raw}}

                <!-- Footer Text Widget -->
                {% include "includes/footer.twig" %}

            </section>
            <!-- End Page Content -->

        </div>
        <!-- End Container -->

    </div><!-- End Page Wrapper -->


{% endblock %}

{% block scripts %}

    <script>
        $(function() {
          // This should prevent problems with carousel, scrollspy, etc...
          $('.feature-arrow-link').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 2000); // The number here represents the speed of the scroll in milliseconds
                return false;
              }
            }
          });
        });

    </script>

    
    <script>
    	// Adds a class when logo is hidden
        var publishedmode = true;

        if($("body.edit-mode").length > 0) {
           publishedmode = false;
        }

        $(document).ready(function(){
           if ( $(".company-info .widget").hasClass("bk-tpl-hidden") ) {
               $("body").addClass("logo-is-hidden");
           }
        });

        if(publishedmode==true) {
           $(document).ready(function(){
               if ( $(".company-info .bk-logo").hasClass("logo") === false ) {
                   $("body").addClass("logo-is-hidden");
               }
           });
        }

    </script>

{% endblock %}
