{% extends "layout.twig" %}
{% block class %}bk-pt-home{% endblock %}
{% block content %}

    <div class="centred-container">

        {{widget('extendednavigation', 'navigation', {"align":"left"})|raw}}

        <div class="hero">

            <!-- Theme Feature Widget -->

            {{widget('feature', 'featurehome', {
                'header': 'profile',
                'defaultBgImg': asset("images/feature.jpg"),
                'positionTopPercentage': '0',
                'showBtn': true,
                'buttonText': 'Lorem Ipsum'
            })|raw}}

            {% include "includes/header.twig" %}

            <!-- Feature Arrow -->
            <div class="feature-arrow">
                <a href="#main-scroll" class="feature-arrow-link  arrow-bounce"></a>
            </div>

        </div>

        <div class="page-wrapper">

            <!-- Container -->
            <div class="container">

                <!-- Page Content -->
                <section id="main-scroll" class="template-content">


                    <!-- Main Widget Zone -->
                    {{zone('main')|raw}}

                    <!-- Footer Text Widget -->
                    {% include "includes/footer.twig" %}

                </section>
                <!-- End Page Content -->

            </div>
            <!-- End Container -->

        </div>
        <!-- End Page Wrapper -->

    </div>

{% endblock %}

{% block scripts %}

    <script>
        $(".feature-arrow-link").click(function() {
        $('html, body').animate({
        scrollTop: $("#main-scroll").offset().top
        }, 2000);
        });
    </script>

{% endblock %}
