<!-- Header include -->
<header class="template-header">
    <div class="company-info header-social">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo-default.png'), "showTplWidget":"0"})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
</header>
